@import "tailwindcss";

:root {
  --background: #0f0f1a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-pokemon {
  font-family: 'Press Start 2P', cursive;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f1a;
}

::-webkit-scrollbar-thumb {
  background: #e94560;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c73652;
}

.pixelated {
  image-rendering: pixelated;
}
